body {
    font-family: helvetica;
}
#header  {
color: #375e97;
font: Georgia;
font-size: 2em;
border-bottom: dotted;
border-width: 5px;
color:#375e97;
}
#content {
    color : #999999;
    font-weight: bold;
}
#header2 {
    font-style : italic;
    font-size: 1.5em;
}
#contact{
    background-color : #eeeeee;
    border-style: solid;
    border-color: #800080;
    padding : 5px;
}
a:link {
    color: #82b8de;  
}
a:visited {
    color: #2b99e6:
}
a:hover {
    text-decoration: none;
}